@import "./variables.scss";
.app {
    display: flex;

    &__container {
        flex-grow: 1;
        padding: 0 3.75rem;

        @media screen and (max-width: $md-screen) {
            padding: 0 1.5rem;
            padding-top: 1rem;
        }
        
        @media screen and (max-width: $sm-screen) {
            margin-top: 8rem;
            padding-top: 0;
        }
    }

    @media screen and (max-width: $sm-screen) {
        flex-direction: column;
        min-height: 100vh;
    }
}
